* {
  box-sizing: border-box;
}

html {
  font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0 1em;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  border: 5px solid #000;
}

header .title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  border-top: 1px solid #999;
}

main {
  padding: 0 1em;
  display: block;
}

.sidebar {
  background-color: #333;
  border: 5px solid #000;
  padding: 0.5em 1em;
  color: #fff;
  margin-top: 1em;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 1px solid #000;
  margin-bottom: 1em;
  background: #fff;
}

.cards h2 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 0.5em 1em;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  nav ul {
    display: flex;
  }

  header a {
    border-top: none;
    border-left: 1px solid #999;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    align-items: start;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .cards li {
    margin-bottom: 0;
  }

  .sidebar {
    margin-top: 10;
    width: 350px;
    height: 800px;
    padding: 10px;
  }
}